POSTGRES_DB=userdb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_PORT=5432
APP_PORT=8080
JDBC_DATABASE_URL=jdbc:postgresql://localhost:5432/userdb
JDBC_DATABASE_USERNAME=postgres
JDBC_DATABASE_PASSWORD=changeme
SERVER_PORT=8080
